/AD01/BorradoDirectorio/build/
/AD01/BorradoDirectorio/dist/
/AD01/BorradoDirectorio/nbproject/private/
/AD01/CrearXml/build/
/AD01/CrearXml/nbproject/private/
/AD01/DomParserDemo/build/
/AD01/DomParserDemo/dist/
/AD01/DomParserDemo/nbproject/private/
/AD01/EventReader/build/
/AD01/EventReader/nbproject/private/
/AD01/Filtrar/build/
/AD01/Filtrar/dist/
/AD01/Filtrar/nbproject/private/
/AD01/ListaLibros/build/
/AD01/ListaLibros/dist/
/AD01/ListaLibros/nbproject/private/
/AD01/PruebaFicheros/build/
/AD01/PruebaFicheros/dist/
/AD01/PruebaFicheros/nbproject/private/
/AD01/AD01FicherosCaracteres/nbproject/private/
/AD01/AD01FicherosCaracteres/build/
/AD01/AD01Actividad3/nbproject/private/
/AD01/AD01Actividad3/build/
/AD01/AD01Actividad3/dist/
/AD01/AD01Actividad5/nbproject/private/
/AD01/AD01Actividad5/build/
/AD01/AD01Actividad5/dist/
/AD01/Tarea01.1-EnunciadoDist/dist/
/AD01/DI_T1-master/SalonHabana/build/
/AD01/DI_T1-master/SalonHabana/nbproject/private/
/AD01/Actividad1/nbproject/private/
/AD01/Actividad2/nbproject/private/
/AD01/Actividad3/nbproject/private/
/AD01/Actividad5/nbproject/private/
/AD01/Actividad2/build/
/AD01/Actividad2/dist/
/AD01/PSP01_Tarea/nbproject/private/
/AD01/Tarea_Actividad1/nbproject/private/
/AD01/Tarea_Actividad2/nbproject/private/
/AD01/Tarea01-2-Enunciado/nbproject/private/
/AD01/Tarea01.2/nbproject/private/
/AD01/Ejemplo_DOM/nbproject/private/
/AD01/Tarea01.2/build/
/AD01/Tarea01.2/dist/
/AD01/Actividad3/build/
/AD01/EjemploJAXB-master/nbproject/private/
/AD01/EjemploJAXB-master/build/
/AD01/EjemploJAXB-master/dist/
/AD02/UD2_EjemploBasicoJDBC_SQLServer-master/nbproject/private/
/AD02/UD2_EjemploBasicoMejoradoJDBC-master/nbproject/private/
/AD02/UD2-Actividad2.2-DAO/nbproject/private/
/AD02/UD2_EjemploBasicoJDBC_SQLServer-master/build/
/AD02/UD2_EjemploBasicoMejoradoJDBC-master/build/
/AD02/UD2_EjemploBasicoMejoradoJDBC-master/dist/
/AD02/Dist_UD2-ActividadFinal2.2-master/nbproject/private/
/AD02/Tarea02.1-Enunciado/nbproject/private/
/AD02/Tarea02.1-Enunciado/build/
/AD02/Tarea02.1/nbproject/private/
/AD01/Eval_UD1_Dist_Enunciado/nbproject/private/
/AD01/Eval_UD1_Dist/nbproject/private/
