/AD01/BorradoDirectorio/build/
/AD01/BorradoDirectorio/dist/
/AD01/BorradoDirectorio/nbproject/private/
/AD01/CrearXml/build/
/AD01/CrearXml/nbproject/private/
/AD01/DomParserDemo/build/
/AD01/DomParserDemo/dist/
/AD01/DomParserDemo/nbproject/private/
/AD01/EventReader/build/
/AD01/EventReader/nbproject/private/
/AD01/Filtrar/build/
/AD01/Filtrar/dist/
/AD01/Filtrar/nbproject/private/
/AD01/ListaLibros/build/
/AD01/ListaLibros/dist/
/AD01/ListaLibros/nbproject/private/
/AD01/PruebaFicheros/build/
/AD01/PruebaFicheros/dist/
/AD01/PruebaFicheros/nbproject/private/
/AD01/AD01FicherosCaracteres/nbproject/private/
/AD01/AD01FicherosCaracteres/build/
/AD01/AD01Actividad3/nbproject/private/
/AD01/AD01Actividad3/build/
/AD01/AD01Actividad3/dist/
/AD01/AD01Actividad5/nbproject/private/
/AD01/AD01Actividad5/build/
/AD01/AD01Actividad5/dist/
/AD01/Tarea01.1-EnunciadoDist/dist/
/AD01/DI_T1-master/SalonHabana/build/
/AD01/DI_T1-master/SalonHabana/nbproject/private/
/AD01/Actividad1/nbproject/private/
/AD01/Actividad2/nbproject/private/
/AD01/Actividad3/nbproject/private/
/AD01/Actividad5/nbproject/private/
/AD01/Actividad2/build/
/AD01/Actividad2/dist/
